* {
    margin: 0;
    padding: 0;
}
.big {
    height: 100px;
}
.small {
    height: 100px;
}
img {
    overflow: visible;
}
#ipad {
    border: 12px solid lightgrey;
    border-radius: 10px;
}
body {
    background-color: lightgrey;
    box-sizing: border-box;
}
#red_circle {
    height: 250px;
    width: 250px;
    border: 12px solid white;
    border-radius: 200px;
    background-color: red;
}