* {
    margin: 0;
    padding: 0;
}
.big {
    height: 100px;
}
.small {
    height: 100px;
}
img {
    overflow: visible;
}
#ipad {
    border: 12px solid lightgrey;
    border-radius: 10px;
}
body {
    background-color: lightgrey;
}