* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.2fr 5fr 2fr;
    grid-template-rows: .5fr 9fr 1fr;
    font-family: "Arial Unicode MS", monospace;
    grid-template-areas:
            "one one one"
            "two three four"
            "two five five";
}

/* .one .two .three .four .five are in the body grid */

.one {
    grid-area: one;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}
.one ul {
    display: flex;
    padding: 0;
}
.one li {
    list-style-type: none;
    padding: 0 15px 0 15px;
    line-height: 35px;
}
.one li:nth-of-type(1) {
    background-color: #77777780;
}
.two {
    grid-area: two;
    background-color: lightgrey;
    justify-content: flex-start;
    padding: 0;
}
.two h3 {
    display: flex;
    padding: 17px 0 14px 17px;
}
.two li {
    display: flex;
    list-style-type: none;
    padding: 10px 10px 10px 0;
    margin-left: -22px;
}

/* #six #nine #twelve #fifteen are in the main grid,
  nested in the body grid */

.three {
    font-size: .8em;
    grid-area: three;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr 2fr) 1fr;
    grid-template-areas:
            "six"
            "six"
            "nine"
            "nine"
            "twelve"
            "twelve"
            "fifteen";
}

.three #six {
    grid-area: six;
    padding-left: 15px;
}

.three #nine {
    grid-area: nine;
    padding-left: 15px;
}

.three #twelve {
    grid-area: twelve;
    padding-left: 15px
}

/* #fifteen is the bottom page-number grid,
 nested in the main grid */

.three #fifteen {
    grid-area: fifteen;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1.3fr) 2fr 1fr ;
    grid-template-areas:
            ". . .  area . .";
}

#fifteen #area {
    grid-area: area;
}

#fifteen span {
    padding: 0 10px 0 10px;
}

#span1 {
    background: black;
    color: white;
    height: 20px;
    position: absolute;
    z-index: 1;

}
#laser_div {
    height: 1px;
    width: 1px;
    position: absolute;
    background: yellow;
    z-index: 0;
    bottom: 112px;
    left: 720px;
}
#laser1 {
    height: 0;
    width: 0;
    box-shadow: 0 0 4px 4px blue;
    z-index: 0;
    position: absolute;
}
#laser2 {
    height: 0;
    width: 0;
    box-shadow: 0 0 4px 4px yellow;
    z-index: 0;
    position: absolute;
}
#laser3 {
    height: 0;
    width: 0;
    box-shadow: 0 0 4px 4px red;
    z-index: 0;
    position: absolute;
}
#laser4 {
    height: 0;
    width: 0;
    box-shadow: 0 0 4px 4px green;
    z-index: 0;
    position: absolute;
}
#laser5 {
    height: 0;
    width: 0;
    box-shadow: 0 0 4px 4px blue;
    z-index: 0;
    position: absolute;
}
#laser6 {
    height: 0;
    width: 0;
    box-shadow: 0 0 4px 4px yellow;
    z-index: 0;
    position: absolute;
}
#laser7 {
    height: 0;
    width: 0;
    box-shadow: 0 0 4px 4px red;
    z-index: 0;
    position: absolute;
}
#laser8 {
    height: 0;
    width: 0;
    box-shadow: 0 0 4px 4px green;
    z-index: 0;
    position: absolute;
}

/* #seven #eight #ten #eleven #thirteen #fourteen are in the ad-space grid,
 nested in the body grid */

.four {
    background-color: white;
    display: grid;
    grid-area: four;
    grid-template-rows: 1.2fr 1.9fr repeat(2, 1fr 2fr);
    grid-row-gap: 10px;
    grid-template-areas:
            "seven"
            "eight"
            "ten"
            "eleven"
            "thirteen"
            "fourteen"
            "sixteen";
}

.four #seven {
    grid-area: seven;
    border: 2px solid lightgrey;
    margin: 17px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #eight {
    grid-area: eight;
    border: 2px solid lightgrey;
    margin: 0 15px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #ten {
    grid-area: ten;
    border: 2px solid lightgrey;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #eleven {
    grid-area: eleven;
    border: 2px solid lightgrey;
    margin: 0 15px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #thirteen {
    grid-area: thirteen;
    border: 2px solid lightgrey;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #fourteen {
    grid-area: fourteen;
    border: 2px solid lightgrey;
    margin: 0 15px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #sixteen {
    grid-area: sixteen;
    height: 50px;
}

.five {
    grid-area: five;
    background-color: gray;
    color: white;
    padding: 15px 0 0 0;
}

.five h3 {
    padding-left: 15px;
}

.five p {
    font-size: .8em;
    padding-left: 15px;
}

/* #science is the black bottom nav div */

#science {
    background: black;
    padding: 0;
    line-height: 25px;
    margin-top: 10px;
}

h1 {
    color: teal;
    padding: 10px 0 10px 0;
}
#span1:hover ~ #laser_div {
   animation: spin 350ms infinite linear;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#span1:hover ~ #laser_div #laser1{
    animation: laser1 125ms infinite;
}

@keyframes laser1 {
    0% {
        transform: translateY(-1px);
    }
    12% {
        transform: translateY(-250px);
        height: 250px;
    }
    25% {
        transform: translateY(-1000px);
        height: 250px;
            }
    50% {
        animation-play-state: paused;
    }
}

#span1:hover ~ #laser_div #laser2{
    animation: laser2 125ms infinite;
    animation-delay: 125ms;
}

@keyframes laser2 {
    0% {
        transform: translateY(-1px);
    }
    12% {
        transform: translateY(-250px);
        height: 250px;
    }
    25% {
        transform: translateY(-1000px);
        height: 250px;
    }
    50% {
        animation-play-state: paused;
    }
}
#span1:hover ~ #laser_div #laser3{
    animation: laser3 125ms infinite;
    animation-delay: 250ms;
}

@keyframes laser3 {
    0% {
        transform: translateY(-1px);
    }
    12% {
        transform: translateY(-250px);
        height: 250px;
    }
    25% {
        transform: translateY(-1000px);
        height: 250px;
    }
    50% {
         animation-play-state: paused;
     }
}
#span1:hover ~ #laser_div #laser4{
    animation: laser4 125ms infinite;
    animation-delay: 375ms;
}

@keyframes laser4 {
    0% {
        transform: translateY(-1px);
    }
    12% {
        transform: translateY(-250px);
        height: 250px;
    }
    25% {
        transform: translateY(-1000px);
        height: 250px;
    }
    50% {
        animation-play-state: paused;
    }
}
#span1:hover ~ #laser_div #laser5{
    animation: laser5 125ms infinite;
    animation-delay: 500ms;
}

@keyframes laser5 {
    0% {
        transform: translateY(-1px);
    }
    12% {
        transform: translateY(-250px);
        height: 250px;
    }
    25% {
        transform: translateY(-1000px);
        height: 250px;
    }
    50% {
        animation-play-state: paused;
    }
}

#span1:hover ~ #laser_div #laser6{
    animation: laser6 125ms infinite;
    animation-delay: 625ms;
}

@keyframes laser6 {
    0% {
        transform: translateY(-1px);
    }
    12% {
        transform: translateY(-250px);
        height: 250px;
    }
    25% {
        transform: translateY(-1000px);
        height: 250px;
    }
    50% {
        animation-play-state: paused;
    }
}
#span1:hover ~ #laser_div #laser7{
    animation: laser7 125ms infinite;
    animation-delay: 750ms;
}

@keyframes laser7 {
    0% {
        transform: translateY(-1px);
    }
    12% {
        transform: translateY(-250px);
        height: 250px;
    }
    25% {
        transform: translateY(-1000px);
        height: 250px;
    }
    50% {
        animation-play-state: paused;
    }
}
#span1:hover ~ #laser_div #laser8{
    animation: laser8 125ms infinite;
    animation-delay: 875ms;
}

@keyframes laser8 {
    0% {
        transform: translateY(-1px);
    }
    12% {
        transform: translateY(-250px);
        height: 250px;
    }
    25% {
        transform: translateY(-1000px);
        height: 250px;
    }
    50% {
        animation-play-state: paused;
    }
}
