* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.2fr 5fr 2fr;
    grid-template-rows: .5fr 9fr 1fr;
    font-family: "Arial Unicode MS", monospace;
    grid-template-areas:
            "one one one"
            "two three four"
            "two five five";
}

/* .one .two .three .four .five are in the body grid */

.one {
    grid-area: one;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}
.one ul {
    display: flex;
    padding: 0;
}
.one li {
    list-style-type: none;
    padding: 0 15px 0 15px;
    line-height: 35px;
}
.one li:nth-of-type(1) {
    background-color: #77777780;
}
.two {
    grid-area: two;
    background-color: lightgrey;
    justify-content: flex-start;
    padding: 0;
}
.two h3 {
    display: flex;
    padding: 17px 0 14px 17px;
}
.two li {
    display: flex;
    list-style-type: none;
    padding: 10px 10px 10px 0;
    margin-left: -22px;
}

/* #six #nine #twelve #fifteen are in the main grid,
  nested in the body grid */

.three {
    font-size: .8em;
    grid-area: three;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr 2fr) 1fr;
    grid-template-areas:
            "six"
            "six"
            "nine"
            "nine"
            "twelve"
            "twelve"
            "fifteen";
}

.three #six {
    grid-area: six;
    padding-left: 15px;
}

.three #nine {
    grid-area: nine;
    padding-left: 15px;
}

.three #twelve {
    grid-area: twelve;
    padding-left: 15px
}

/* #fifteen is the bottom page-number grid,
 nested in the main grid */

.three #fifteen {
    grid-area: fifteen;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1.3fr) 2fr 1fr ;
    grid-template-areas:
            ". . .  area . .";
}

#fifteen #area {
    grid-area: area;
}

#fifteen span {
    padding: 0 10px 0 10px;
}

#span1 {
    background: black;
    color: white;
    height: 20px;
    position: absolute;
    z-index: 1;

}

/* fireworks code */

#laser_div {
    height: 1px;
    width: 1px;
    position: absolute;
    background: yellow;
    z-index: 0;
    bottom: 112px;
    left: 720px;
}
#fire {
    height: 0;
    width: 0;
    box-shadow: 0 0 4px 4px blue;
    z-index: 0;
    position: absolute;
    border-radius: 10px;
}
#work1 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work2 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work3 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work4 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work5 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work6 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work7 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work8 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work9 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work10 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work11 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work12 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work13 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work14 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work15 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
#work16 {
    height: 5px;
    width: 5px;
    box-shadow: 0 0 4px 4px white;
    z-index: 2;
    position: absolute;
    bottom: 500px;
    left: -2px;
    border-radius: 25px;
}
/* #seven #eight #ten #eleven #thirteen #fourteen are in the ad-space grid,
 nested in the body grid */

.four {
    background-color: white;
    display: grid;
    grid-area: four;
    grid-template-rows: 1.2fr 1.9fr repeat(2, 1fr 2fr);
    grid-row-gap: 10px;
    margin: 0 25px 0 15px;
    grid-template-areas:
            "seven"
            "eight"
            "ten"
            "eleven"
            "thirteen"
            "fourteen"
            "sixteen";
}

.four #seven {
    grid-area: seven;
    border: 2px solid lightgrey;
    margin: 17px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #eight {
    grid-area: eight;
    border: 2px solid lightgrey;
    margin: 0 15px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #ten {
    grid-area: ten;
    border: 2px solid lightgrey;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #eleven {
    grid-area: eleven;
    border: 2px solid lightgrey;
    margin: 0 15px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #thirteen {
    grid-area: thirteen;
    border: 2px solid lightgrey;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #fourteen {
    grid-area: fourteen;
    border: 2px solid lightgrey;
    margin: 0 15px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four #sixteen {
    grid-area: sixteen;
    height: 50px;
}

.five {
    grid-area: five;
    background-color: gray;
    color: white;
    padding: 15px 0 0 0;
}

.five h3 {
    padding-left: 15px;
}

.five p {
    font-size: .8em;
    padding-left: 15px;
}

/* #science is the black bottom nav div */

#science {
    background: black;
    padding: 0;
    line-height: 25px;
    margin-top: 10px;
}

h1 {
    color: teal;
    padding: 10px 0 10px 0;
}

/* begin keyframes animation */

#span1:hover ~ #laser_div #fire{
    animation: fire 2.4s;
}

@keyframes fire {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-500px);
    }
}
#span1:hover ~ #laser_div #work1 {
    animation: left 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes left {
    0% {
        transform: translateX(0);
    }
    10% {
        box-shadow: 0 0 4px 4px red;
        background: red;
    }
    100% {
        transform: translateX(-500px);
        box-shadow: 0 0 4px 4px red;
        background: red;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work2 {
    animation: right 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes right {
    0% {
        transform: translateX(0);
    }
    10% {
        box-shadow: 0 0 4px 4px green;
        background-color: green;
    }
    100% {
        transform: translateX(500px);
        box-shadow: 0 0 4px 4px green;
        background: green;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work3 {
    animation: up 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes up {
    0% {
        transform: translateY(0);
    }
    10% {
        box-shadow: 0 0 4px 4px yellow;
        background: yellow;
    }
    100% {
        transform: translateY(-500px);
        box-shadow: 0 0 4px 4px yellow;
        background: yellow;
        width: 50px;
        height: 50px;
    }
}
#span1:hover ~ #laser_div #work4 {
    animation: down 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes down {
    0% {
        transform: translateY(0);
    }
    10% {
        box-shadow: 0 0 4px 4px blueviolet;
        background: blueviolet;
    }
    100% {
        transform: translateY(500px);
        background: blueviolet;
        box-shadow: 0 0 4px 4px blueviolet;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work5 {
    animation: left-up 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes left-up {
    0% {
        transform: translateX(0);
    }
    10% {
        box-shadow: 0 0 4px 4px darkgreen;
        background: darkgreen;
    }
    100% {
        transform: translateX(-500px) translateY(-500px);
        box-shadow: 0 0 4px 4px darkgreen;
        background: darkgreen;
        width: 50px;
        height: 50px;
    }
}
#span1:hover ~ #laser_div #work6 {
    animation: right-up 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes right-up {
    0% {
        transform: translateX(0);
    }
    10% {
        box-shadow: 0 0 4px 4px cornflowerblue;
        background: cornflowerblue;
    }
    100% {
        transform: translateX(500px)translateY(-500px);
        box-shadow: 0 0 4px 4px cornflowerblue;
        background: cornflowerblue;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work7 {
    animation: left-down 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes left-down {
    0% {
        transform: translateY(0);
    }
    10% {
        box-shadow: 0 0 4px 4px goldenrod;
        background: goldenrod;
    ;
    }
    100% {
        transform: translateY(500px) translateX(-500px);
        box-shadow: 0 0 4px 4px goldenrod;
        background: goldenrod;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work8 {
    animation: right-down 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes right-down {
    0% {
        transform: translateY(0);
    }
    10% {
        box-shadow: 0 0 4px 4px blueviolet;
        background: blueviolet;
    }
    100% {
        transform: translateY(500px) translateX(500px);
        box-shadow: 0 0 4px 4px blueviolet;
        background: blueviolet;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work9 {
    animation: left2 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes left2 {
    0% {
        transform: translateX(0);
    }
    10% {
        box-shadow: 0 0 4px 4px red;
        background: red;
    }
    100% {
        transform: translateX(-500px) translateY(-250px);
        box-shadow: 0 0 4px 4px red;
        background: red;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work10 {
    animation: right2 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes right2 {
    0% {
        transform: translateX(0);
    }
    10% {
        box-shadow: 0 0 4px 4px green;
        background-color: green;
    }
    100% {
        transform: translateX(500px) translateY(250px);
        box-shadow: 0 0 4px 4px green;
        background: green;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work11 {
    animation: up2 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes up2 {
    0% {
        transform: translateY(0);
    }
    10% {
        box-shadow: 0 0 4px 4px yellow;
        background: yellow;
    }
    100% {
        transform: translateY(-500px) translateX(250px);
        box-shadow: 0 0 4px 4px yellow;
        background: yellow;
        width: 50px;
        height: 50px;
    }
}
#span1:hover ~ #laser_div #work12 {
    animation: down2 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes down2 {
    0% {
        transform: translateY(0);
    }
    10% {
        box-shadow: 0 0 4px 4px blueviolet;
        background: blueviolet;
    }
    100% {
        transform: translateY(500px) translateX(-250px);
        background: blueviolet;
        box-shadow: 0 0 4px 4px blueviolet;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work13 {
    animation: left-up2 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes left-up2 {
    0% {
        transform: translateX(0);
    }
    10% {
        box-shadow: 0 0 4px 4px darkgreen;
        background: darkgreen;
    }
    100% {
        transform: translateX(-700px) translateY(-300px);
        box-shadow: 0 0 4px 4px darkgreen;
        background: darkgreen;
        width: 50px;
        height: 50px;
    }
}
#span1:hover ~ #laser_div #work14 {
    animation: right-up2 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes right-up2 {
    0% {
        transform: translateX(0);
    }
    10% {
        box-shadow: 0 0 4px 4px cornflowerblue;
        background: cornflowerblue;
    }
    100% {
        transform: translateX(700px)translateY(-300px);
        box-shadow: 0 0 4px 4px cornflowerblue;
        background: cornflowerblue;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work15 {
    animation: left-down2 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes left-down2 {
    0% {
        transform: translateY(0);
    }
    10% {
        box-shadow: 0 0 4px 4px goldenrod;
        background: goldenrod;
    ;
    }
    100% {
        transform: translateY(700px) translateX(-300px);
        box-shadow: 0 0 4px 4px goldenrod;
        background: goldenrod;
        width: 50px;
        height: 50px;

    }
}
#span1:hover ~ #laser_div #work16 {
    animation: right-down2 500ms ease-out;
    animation-delay: 2.4s;
}

@keyframes right-down2 {
    0% {
        transform: translateY(0);
    }
    10% {
        box-shadow: 0 0 4px 4px blueviolet;
        background: blueviolet;
    }
    100% {
        transform: translateY(700px) translateX(300px);
        box-shadow: 0 0 4px 4px blueviolet;
        background: blueviolet;
        width: 50px;
        height: 50px;

    }
}