:root {
    --blueish: rgb(78, 73, 157);
    --greenish: rgb(49, 133, 90);
    --yellowish: rgb(148, 129, 56);
    --reddish: rgb(130, 16, 46);
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin: 10px;
    width: 90%;
    font-weight: bold;
    padding: 10px;
}
.message-info {
    margin-top: 20px;
    background-color: rgb(205, 222, 252);
    color: var(--blueish)
}
.message-success {
    background-color: rgb(204, 243, 220);
    color: var(--greenish);
}
.message-warning {
    background-color: rgb(252, 251, 206);
    color: var(--yellowish);
}
.message-error {
    background-color: rgb(252, 211, 215);
    color: var(--reddish);
}

