* {
    margin: 0;
    padding: 0;
}
h1 {
    display: inline-block;
}
#tree {
    height: 25vh;
}
img {
    height: 40vh;
}
li {
    list-style: none;
}
li:hover {
    cursor: pointer;
    font-size: 1.15em;
}
i {
    color: red;
    margin-right: 10px;
}