* {
    margin: 0;
    padding: 0;
    /* always add box-sizing border box to ensure the size of item includes border */
    /* consider importing Reboot to work with your boostrap */
    box-sizing: border-box;
}
body {
    background-color: paleturquoise;

}
nav {
    background-color: coral;
    padding: 1%;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
}
li {
    margin-right: 2%;
}
li:nth-child(1) {
    margin-right: auto;
}
/* make sure to add breakpoints like below to make site mobile responsive */
/* base the widths on prebuilt firefox/chrome browser mobile developer options */
@media screen and (min-device-width: 500px) and (max-width: 1000px) {
    body {
        background: lightgreen;
    }
}